* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

header .logo {
    font-size: 24px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #666;
}

.banner {
    background-image: url('img/2.png');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    position: relative;
}

.banner-content {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    align-items: center;
}

.buttons button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.more{
    color: #1d1d1d;
}

.read-more {
    background-color: #ffcf7c;
    color: #1d1d1d;
}

.apply {
    background-color: #589eff;
    color: #1d1d1d;
}

.rectangles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1728px;
    margin: 0 auto;
}

.rectangle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
}

.rectangle {
    background-color: #f0f0f0;
    padding: 90px;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.banner-2 {
    background-color: #eee;
    padding: 120px 0;
    text-align: center;
}

.banner-2 h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons-2 {
    align-items: center;
}

.buttons-2 button {
    font-size: 18px;
    padding: 20px 140px;
    cursor: pointer;
    margin-right: 20px;
}

.purchase {
    background-color: #ffc053;
    border: #ffbb00;
    color: #fff;
}

.try {
    background-color: #e73131;
    border: #ff0000;
    color: #fff;
}

.baner-3{
  display: block;
  width: 1728px;
  height: 500px;
  margin-bottom: 35px;
}

.slideshow-container {
  position: relative;
}

.mySlides {
    display: none;
    width: 1728px;
    height: 500px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 40px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

.content ul li {
    margin-bottom: 10px;
}

.grid {
    display: flex;
    border: 1px solid #909090;
    padding: 0px;
}

.column {
    margin-top: 25px;
    flex: 1;
    padding: 0 230px;
}

.column p {
    margin-bottom: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: auto;
}

footer .logo {
    font-size: 24px;
}

footer .contacts {
    text-align: center;
}

footer-2 .contacts-2 {
    background-color: #cecece;
    text-align: center;
}

footer .contacts p {
    font-size: 18px;
}

footer nav ul {
    display: grid;
    list-style: none;
}

footer nav ul li {
    margin-right: 30px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

footer nav ul li a:hover {
    color: #666;
}